.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  height: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}

.app-header.show {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.app-header.hidden {
  animation-name: fade-out;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.app-logo {
  animation-name: app-logo-spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  height: 70px;
  margin-top:5%;
  flex-grow: 1;
}

.app-name {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 5px;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scaleY(0);
    height: 0px;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
    height: 150px;
  }
}

@keyframes fade-out  {
  from {
    opacity: 1;
    transform: scaleY(1);
    height: 150px;
  }
  to {
    opacity: 0;
    transform: scaleY(0);
    height: 0px;
  }
}