.category-row {
  background-color: orange;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}

.category-name {
  margin: auto;
  font-size: 2rem;
  font-weight: 650;
  padding-left: 0.5rem;
  overflow: hidden;
  flex-grow: 1;
  order: 6;
}

.edit-category-name {
  font-size: 2.2rem;
  padding-left: 5px;
  order: 5;
}

.edit-category-image {
  height: 2.5rem;
  margin: 5px 3px 0px 3px;
}

.edit-category-name-buttons-container {
  display: inline-block;
  order: 3;
}

.edit-category-button {
  order: 2;
}

.add-item-to-category-button {
  order: 1;
}

.edit-category-name-button-container {
}

.edit-category-name-image {
  margin: 5px 3px 0px 3px;
  height: 2.5rem;
}

.edit-category-name-input {
  margin-top: 5px;
  line-height: 2rem;
  font-size: 2rem;
  border: 1px solid;
  border-radius: 5px;
  width: 98%;
}

.delete-category-button {
  /*display: inline;*/
}

.delete-category-image {
  height: 2.5rem;
  margin: 5px 3px 0px 3px;
}

.save-new-category-name-button {
  order: 2;
}

.save-new-category-name-image {
  height: 2.6rem;
  margin: 5px 3px 0px 3px;
}

.cancel-new-category-name-button {
  order:1;
}

.cancel-new-category-name-image {
  height: 2.5rem;
  margin: 5px 3px 0px 3px;
}

.add-item-to-category-image {
  height: 2.5rem;
  margin: 5px 3px 0px 3px;
}

.hide {
  display: none;
}

.strikethrough {
  text-decoration: line-through;
}

.react-confirm-alert-button-group > button {
  background-color: orange;
}