.lists-container {
  margin: 10px auto;
  width: 95%;
  border: 1px solid;
  display: inline-block;
  height: 100%;
}

.lists-container.list-view-active {
  display: flex;
}

.list-index-row {
  background-color: lightgray;
  margin: 5px;
}
.list-index-row.active {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: lightblue;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 4rem;
  overflow: hidden;
  white-space: nowrap;
}

.list-index-row.inactive {
  font-size: 2.2em;
}

.list-index {
  display: inline-block;
  width:85%;
  height: 100%;
}

.list-view-active .list-index {
  display: flex;
  width: 100%;
}

.list-view-inactive .list-index {
  width: 100%;
}

.list-view-active .list-index-reset-button.show {
  display: flex;
  margin: auto;
  background-color: lightblue;
}

.list-index-reset-button.hide {
  display: none;
}

.reset-button-image {
  height: 4rem;
}

.list-index-row.hide {
  display: none;
}