.list-detail-view {
  margin: 10px auto;
  width: 95%;
  border: 3px solid;
  text-align: left;
  display: block;
}

.new-category {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  background-color: orange;
  border-bottom: 3px solid;
}

.new-category input {
  font-size: 2rem;
  margin: auto;
  float: left;
}

.new-category-input-container {
  padding-left: 2px;
  order: 3;
}

.new-catgegory-save-button {
  order: 2;
}

.new-category-save-image {
  margin: 3px 2px 0 2px;
  height: 2.8rem;
}

.new-category-cancel-button {
  order: 1;
}

.new-category-cancel-image {
  margin: 5px 3px 0px 3px;
  height: 2.5rem;
}

#new-category-input-field {
  border: 2px solid;
  border-radius: 5px;
  width: 95%;
  margin: 3px 0 3px 3px;
}