.lists-container {
  margin: 10px auto;
  width: 95%;
  border: 1px solid;
  display: inline-block;
  height: 100%;
}

.lists-container.list-view-active {
  display: flex;
}

.list-index-row {
  background-color: lightgray;
  margin: 5px;
}
.list-index-row.active {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: lightblue;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 4rem;
  overflow: hidden;
  white-space: nowrap;
}

.list-index-row.inactive {
  font-size: 2.2em;
}

.list-index {
  display: inline-block;
  width:85%;
  height: 100%;
}

.list-view-active .list-index {
  display: flex;
  width: 100%;
}

.list-view-inactive .list-index {
  width: 100%;
}

.list-view-active .list-index-reset-button.show {
  display: flex;
  margin: auto;
  background-color: lightblue;
}

.list-index-reset-button.hide {
  display: none;
}

.reset-button-image {
  height: 4rem;
}

.list-index-row.hide {
  display: none;
}

.new-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  background-color: lightblue;
  border-bottom: 3px solid;
}

.new-list input {
  font-size: 2rem;
  margin: auto;
  float: left;
}

.new-list-input-container {
  padding-left: 2px;
  order: 3;
}

.new-list-save-button {
  order: 2;
}

.new-list-save-image {
  margin: 3px 2px 0 2px;
  height: 2.8rem;
}

.new-list-cancel-button {
  order: 1;
}

.new-list-cancel-image {
  margin: 5px 3px 0px 3px;
  height: 2.5rem;
}

#new-list-input-field {
  border: 2px solid;
  border-radius: 5px;
  width: 95%;
  margin: 3px 0 3px 3px;
}